.arena-item {
    border: 2px solid #ff816e !important;
    padding: 40px;
    border-radius: 20px !important;
    background: $bg-color !important;
    &:hover {
        background: linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%) !important;
        background: -webkit-linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%) !important;
        background: -moz-linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%) !important;
        background: -o-linear-gradient(135deg, #FF5F6D 2.88%, #FFC371 100%) !important;
        border: 2px solid #FF816E;
        box-sizing: border-box;
        h4,
        p {
            color: #0F071C;
        }
    }
    h4 {
        color: #FF816E;
        margin-bottom: 16px;
    }
    .arena-item-inner {
        align-items: center;
        justify-content: center;
    }
}