.saiba-mais {
    .container .row {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    background-image: url('/assets/dist/images/fundo-saiba-mais.png');
    background-position: bottom;
    background-repeat: no-repeat;
}