.navbar {
    .navbar-lang {
        font-weight: 500 !important;
        font-size: 18px !important;
        line-height: 150% !important;
        text-transform: uppercase !important;
        color: #FFFFFF !important;
        padding-right: 15px;
        border-right: 1px solid #fff;
    }
    .nav-item {
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 150%;
        position: relative;
        text-decoration: none !important;
        .nav-item {
            text-decoration: none !important;
            text-decoration-line: none!important;
        }
        .nav-link.btn::before {
            border-bottom: unset !important;
        }
        .nav-link::before,
        .nav-link.active::before {
            text-decoration: none !important;
            text-decoration-line: none!important;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 2px solid #FFA467;
            transform: scaleX(0);
            transition: 0.5s ease;
        }
        .nav-link:hover::before,
        .nav-link.active::before {
            opacity: 1;
            transform: scaleX(0.75);
        }
        .separator {
            display: block;
            height: 60px;
            width: 1px;
            background-color: #AB9EA5;
            margin: 0 calc(32px - 1rem);
        }
    }
}