.programacao-checkbox {
    .form-check {
        font-size: 33px;
        font-weight: bold;
        color: #d0d0d0;
        &.checked {
            // background: linear-gradient(135deg, #ff5f6d 2.88%, #ffc371 100%);
            // background: -webkit-linear-gradient(135deg, #ff5f6d 2.88%, #ffc371 100%);
            // background: -moz-linear-gradient(135deg, #ff5f6d 2.88%, #ffc371 100%);
            // background: -o-linear-gradient(135deg, #ff5f6d 2.88%, #ffc371 100%);
            background: rgb(255, 95, 109);
            background: linear-gradient(135deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
            color: #ff5f6d;
            label {
                color: #ff5f6d;
            }
        }
    }
}

.programacao-items {
    .nav-tabs {
        border-bottom: 2px solid rgba(#989898, 0.3) !important;
        .nav-link {
            margin-bottom: -2px !important;
            background-color: transparent !important;
            border-radius: 0 !important;
            color: #d0d0d0 !important;
            font-weight: 600;
            font-size: 16px;
            min-width: max-content;
            border: none !important;
            &.active {
                border-bottom: 2px solid #ff5f6d !important;
                color: white !important;
            }
        }
    }
}

.programacao-speakers-photos {
    width: 200px;
}